@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.mobileNav {
  width: 100%;
  background: #fbfcfe;
  height: 80px;
  position: relative;
  padding-top: 15px;
  top: 0;
  z-index: 10;
}
@media screen and (min-width: 1000px) {
  .mobileNav {
    display: none;
  }
}
.mobileNav img {
  width: 110px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}
.mobileNav .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #005cb9;
  overflow-x: hidden;
  transition: 0.4s;
}
.mobileNav .overlay li {
  font-size: 20px;
}
.mobileNav .overlay li:hover {
  color: #005cb9;
}
.mobileNav .overlay .menu-line {
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #fbfcfe;
}
.mobileNav .overlay .closebtn {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 26px;
  text-decoration: none;
  color: #fbfcfe;
}
.mobileNav .overlay img {
  width: 110px;
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
}
.mobileNav .overlay .navElements {
  padding: 0;
  width: 100%;
  text-align: left;
  margin-top: 50%;
}
.mobileNav .overlay .navElements a {
  color: #fbfcfe;
  padding: 14px 16px;
  margin-left: 10%;
  text-decoration: none;
  list-style: none;
  display: block;
}
.mobileNav .openbtn {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 26px;
  color: #fc0001;
}

.desktopNav {
  display: none;
  position: relative;
  background: #fbfcfe;
  justify-content: flex-end;
  height: 120px;
  width: 100%;
}
.desktopNav .navElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}
.desktopNav .navElements a {
  text-decoration: none;
  color: #1F0812;
  font-size: 20px;
  font-weight: 300;
}
.desktopNav .navElements a li {
  padding: 0px 20px;
  list-style: none;
}
.desktopNav .navElements a li:hover {
  color: #005cb9;
}
.desktopNav .navElements .focus {
  color: #005cb9;
  border: 2px solid #005cb9;
  border-radius: 2px;
  padding: 12px 5px;
  margin-left: 10px;
  font-weight: 300;
}
.desktopNav img {
  width: 145px;
  position: absolute;
  top: 10px;
  left: 15px;
}
@media screen and (min-width: 1000px) {
  .desktopNav {
    display: flex;
  }
}

.footerMain {
  padding: 50px 0px;
  background: #005cb9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
}
@media screen and (max-width: 1030px) {
  .footerMain {
    flex-direction: column;
  }
}
.footerMain .footerCol1, .footerMain .footerCol2, .footerMain .footerCol3, .footerMain .footerCol4 {
  width: 90%;
  max-width: 300px;
  margin: 30px 20px;
}
.footerMain .footerCol1 img, .footerMain .footerCol2 img, .footerMain .footerCol3 img, .footerMain .footerCol4 img {
  width: 90%;
}
.footerMain .footerCol1 .line-0, .footerMain .footerCol2 .line-0, .footerMain .footerCol3 .line-0, .footerMain .footerCol4 .line-0 {
  width: 200px;
  height: 1px;
  margin: 5px 0px;
  background: #fbfcfe;
}
.footerMain .footerCol1 .line-1, .footerMain .footerCol2 .line-1, .footerMain .footerCol3 .line-1, .footerMain .footerCol4 .line-1 {
  width: 150px;
  height: 1px;
  margin: 5px 0px;
  background: #fbfcfe;
}
.footerMain .footerCol1 .footer-heading, .footerMain .footerCol2 .footer-heading, .footerMain .footerCol3 .footer-heading, .footerMain .footerCol4 .footer-heading {
  color: #fbfcfe;
  font-size: 24px;
  font-weight: 400;
}
.footerMain .footerCol1 p, .footerMain .footerCol1 a, .footerMain .footerCol2 p, .footerMain .footerCol2 a, .footerMain .footerCol3 p, .footerMain .footerCol3 a, .footerMain .footerCol4 p, .footerMain .footerCol4 a {
  color: #fbfcfe;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
.footerMain .footerCol1 .footer-list, .footerMain .footerCol2 .footer-list, .footerMain .footerCol3 .footer-list, .footerMain .footerCol4 .footer-list {
  list-style: none;
  margin: 10px 0px;
  padding: 0px;
}
.footerMain .footerCol1 .footer-list a, .footerMain .footerCol2 .footer-list a, .footerMain .footerCol3 .footer-list a, .footerMain .footerCol4 .footer-list a {
  text-decoration: none;
}
.footerMain .footerCol1 .footer-list li, .footerMain .footerCol2 .footer-list li, .footerMain .footerCol3 .footer-list li, .footerMain .footerCol4 .footer-list li {
  color: #fbfcfe;
  font-size: 20px;
  font-weight: 300;
  padding: 2px 0px;
}

.contactContainer {
  background: url("/static/main/img/assets/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
  position: relative;
}
.contactContainer .contactHeader {
  width: 90%;
  max-width: 700px;
  padding: 10px 0px 30px;
  margin-left: auto;
  margin-right: auto;
}
.contactContainer .contactHeader h2 {
  color: #fbfcfe;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}
.contactContainer .contactHeader p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #fbfcfe;
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 300;
}
.contactContainer .formContainer .mainContactForm {
  width: 90%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.contactContainer .formContainer .mainContactForm input, .contactContainer .formContainer .mainContactForm textarea {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  background: #fbfcfe;
  color: #1F0812;
  border: none;
  border-radius: 2px;
  margin: 5px 0px;
  font-size: 18px;
  font-weight: 300;
}
.contactContainer .formContainer .mainContactForm input {
  height: 40px;
}
.contactContainer .formContainer .mainContactForm textarea {
  height: 150px;
}
.contactContainer .formContainer .mainContactForm #submit {
  color: #fbfcfe;
  background: #fc0001;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 22px;
  height: 50px;
}

.homeHeader {
  height: 100vh;
  max-height: 1000px;
  background-image: url("/static/main/img/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homeHeader .headerInfo {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .homeHeader .headerInfo {
    top: 20%;
  }
}
.homeHeader .headerInfo .headerTitle {
  font-weight: 300;
  padding-bottom: 5px;
  color: #005cb9;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .homeHeader .headerInfo .headerTitle {
    font-size: 46px;
  }
}
.homeHeader .headerInfo .headerLink {
  padding: 10px 18px;
  width: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 5px;
  background: #005cb9;
  color: #fbfcfe;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .homeHeader .headerInfo .headerLink {
    font-size: 24px;
  }
}

.secondHeaderArea {
  padding: 100px 0px;
  background: #005cb9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.secondHeaderArea .infoArea .containerTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fbfcfe;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .secondHeaderArea .infoArea .containerTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.secondHeaderArea .infoArea .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #fbfcfe;
}
@media screen and (max-width: 700px) {
  .secondHeaderArea .infoArea .containerInfo {
    margin-left: 5%;
  }
}
.secondHeaderArea .backgroundArea {
  margin: 30px;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.secondHeaderArea .backgroundArea .ctaButton {
  padding: 12px 80px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #005cb9;
  background: #fbfcfe;
}
.secondHeaderArea .backgroundArea .iconBox {
  width: 90%;
  max-width: 300px;
}
.secondHeaderArea .backgroundArea .iconBox img {
  width: 100%;
}

.hospiceEligibilityArea {
  background: #fbfcfe;
  padding: 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.hospiceEligibilityArea .infoArea .containerTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fc0001;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .hospiceEligibilityArea .infoArea .containerTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.hospiceEligibilityArea .infoArea .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #1F0812;
}
@media screen and (max-width: 700px) {
  .hospiceEligibilityArea .infoArea .containerInfo {
    margin-left: 5%;
  }
}
.hospiceEligibilityArea .infoArea .containerList {
  margin-left: 15%;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 0px;
  list-style: none;
}
.hospiceEligibilityArea .backgroundArea {
  margin: 30px;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hospiceEligibilityArea .backgroundArea .iconBox {
  width: 90%;
  max-width: 300px;
}
.hospiceEligibilityArea .backgroundArea .iconBox img {
  width: 100%;
}

.homeServices {
  background: #fbfcfe;
  padding: 80px 0px;
}
.homeServices .servicesCtaBox {
  width: 300px;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeServices .servicesCtaBox .ctaButton {
  padding: 12px 80px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #fbfcfe;
  background: #fc0001;
}
.homeServices .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #1F0812;
}
@media screen and (max-width: 700px) {
  .homeServices .containerInfo {
    margin-left: 5%;
  }
}
.homeServices .headerArea {
  clear: both;
}
.homeServices .headerArea .containerTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fc0001;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .homeServices .headerArea .containerTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.homeServices .headerArea .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #1F0812;
}
@media screen and (max-width: 700px) {
  .homeServices .headerArea .containerInfo {
    margin-left: 5%;
  }
}

.mainCareers {
  background: #fbfcfe;
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-evenly;
  align-items: center;
}
.mainCareers .leftSide {
  margin-left: 5%;
}
.mainCareers .leftSide .containerTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fc0001;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .mainCareers .leftSide .containerTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.mainCareers .leftSide .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #1F0812;
}
@media screen and (max-width: 700px) {
  .mainCareers .leftSide .containerInfo {
    margin-left: 5%;
  }
}
.mainCareers .rightSide {
  width: 300px;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainCareers .rightSide .homeCareersCta {
  padding: 12px 80px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #fbfcfe;
  background: #fc0001;
}

.containerLineBreak {
  height: 1px;
  width: 90%;
  max-width: 900px;
  margin: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  background: #fc0001;
}

.aboutPageHeader {
  background-image: url("/static/main/img/assets/wheelchair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0px;
}
.aboutPageHeader .headerBlock {
  width: 90%;
  max-width: 600px;
  padding: 30px 0px;
  margin-left: 5%;
  background: #005cb9;
  border-radius: 10px;
  padding: 20px 0px;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 80%;
  max-width: 450px;
}
.aboutPageHeader .headerBlock .pageTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fbfcfe;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .aboutPageHeader .headerBlock .pageTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}

.missionStatement {
  padding: 60px 0px;
  background: #005cb9;
}
.missionStatement .inlineImgText {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  align-items: center;
}
.missionStatement .inlineImgText .iconBox {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
}
.missionStatement .inlineImgText .iconBox img {
  width: 100%;
}
.missionStatement .inlineImgText .statementTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fbfcfe;
  font-weight: 300;
  margin-left: 20px;
}
@media screen and (max-width: 700px) {
  .missionStatement .inlineImgText .statementTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.missionStatement .statementText {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #fbfcfe;
}
@media screen and (max-width: 700px) {
  .missionStatement .statementText {
    margin-left: 5%;
  }
}

.aboutMain {
  padding: 80px 0px;
  background: #fbfcfe;
}
.aboutMain .blocksIntro {
  padding: 40px 0px;
  width: 85%;
  max-width: 600px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.aboutMain .blocksIntro .containerTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fc0001;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .aboutMain .blocksIntro .containerTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.aboutMain .blocksIntro .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #1F0812;
  margin-left: 0;
}
@media screen and (max-width: 700px) {
  .aboutMain .blocksIntro .containerInfo {
    margin-left: 5%;
  }
}
.aboutMain .aboutBlocks {
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-evenly;
}
.aboutMain .aboutBlocks .block {
  width: 90%;
  max-width: 1200px;
  margin: 30px 0px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  flex-wrap: wrap;
  box-shadow: 0 0 0.75rem #EFEFEF;
}
.aboutMain .aboutBlocks .block .infoBlock {
  padding: 30px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-sizing: border-box;
}
@media screen and (max-width: 550px) {
  .aboutMain .aboutBlocks .block .infoBlock {
    width: 90%;
    margin: 15px;
    height: 400px;
  }
}
.aboutMain .aboutBlocks .block .infoBlock .blockTitle {
  font-weight: 400;
  color: #fc0001;
}
.aboutMain .aboutBlocks .block .infoBlock .blockText {
  color: #1F0812;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .aboutMain .aboutBlocks .block .infoBlock .blockText {
    width: 90%;
  }
}
.aboutMain .aboutBlocks .block1 {
  background-image: url("/static/main/img/assets/granddaughter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.aboutMain .aboutBlocks .block2 {
  background-image: url("/static/main/img/assets/planFlexibility.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.aboutMain .aboutBlocks .block3 {
  background-image: url("/static/main/img/assets/leading.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.aboutMain .aboutBlocks .block4 {
  background-image: url("/static/main/img/assets/family.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

.careerPageMain {
  background-image: url("/static/main/img/assets/lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0px;
}

.careerIntro {
  background: #fbfcfe;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 5px 7px 15px #505050;
}
.careerIntro h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  color: #005cb9;
  padding: 20px 10px;
}
.careerIntro .spacer {
  padding: 20px;
}
.careerIntro p {
  font-size: 20px;
  font-weight: 300;
  margin-left: 5%;
  margin-right: 5%;
}

.formContainer .careersForm {
  width: 80%;
  max-width: 800px;
  background: #fbfcfe;
  margin: 40px 0px;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 5px 7px 15px #505050;
  margin-left: auto;
  margin-right: auto;
}
.formContainer .careersForm input[type=text], .formContainer .careersForm input[type=phone], .formContainer .careersForm input[type=email] {
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0px;
  margin: 10px 0px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #005cb9;
  background: #fbfcfe;
}
.formContainer .careersForm label {
  color: #1F0812;
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0px 0px;
}
.formContainer .careersForm input[type=submit] {
  width: 100%;
  background: #005cb9;
  color: #fbfcfe;
  padding: 10px;
  font-size: 20px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}
.formContainer .careersForm div {
  margin: 10px 0px;
}
.formContainer .careersForm div p {
  color: #1F0812;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}
.formContainer .careersForm input[type=radio] {
  margin: 0px 10px 5px 10px;
}

.servicesPageHeader {
  background-image: url("/static/main/img/assets/holdingHands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0px;
}
.servicesPageHeader .headerBlock {
  width: 90%;
  max-width: 600px;
  padding: 30px 0px;
  margin-left: 5%;
  background: #005cb9;
  border-radius: 10px;
}
.servicesPageHeader .headerBlock .pageTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fbfcfe;
  font-weight: 300;
  margin-left: 5%;
}
@media screen and (max-width: 700px) {
  .servicesPageHeader .headerBlock .pageTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.servicesPageHeader .headerBlock .pageDescription {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #fbfcfe;
  margin-left: 5%;
}
@media screen and (max-width: 700px) {
  .servicesPageHeader .headerBlock .pageDescription {
    margin-left: 5%;
  }
}

.servicesPageContainer {
  padding: 60px 0px;
  background: #fbfcfe;
}
.servicesPageContainer .serviceWhite, .servicesPageContainer .serviceGrey {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-evenly;
  align-items: center;
}
.servicesPageContainer .serviceWhite .leftSide .containerTitle, .servicesPageContainer .serviceGrey .leftSide .containerTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fc0001;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .servicesPageContainer .serviceWhite .leftSide .containerTitle, .servicesPageContainer .serviceGrey .leftSide .containerTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.servicesPageContainer .serviceWhite .leftSide .containerInfo, .servicesPageContainer .serviceGrey .leftSide .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #1F0812;
}
@media screen and (max-width: 700px) {
  .servicesPageContainer .serviceWhite .leftSide .containerInfo, .servicesPageContainer .serviceGrey .leftSide .containerInfo {
    margin-left: 5%;
  }
}
.servicesPageContainer .serviceWhite .rightSide, .servicesPageContainer .serviceGrey .rightSide {
  width: 90%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .servicesPageContainer .serviceWhite .rightSide, .servicesPageContainer .serviceGrey .rightSide {
    margin: 30px 0px;
  }
}
.servicesPageContainer .serviceWhite .rightSide .imgBox, .servicesPageContainer .serviceGrey .rightSide .imgBox {
  width: 400px;
}
@media screen and (max-width: 450px) {
  .servicesPageContainer .serviceWhite .rightSide .imgBox, .servicesPageContainer .serviceGrey .rightSide .imgBox {
    width: 95%;
  }
}
.servicesPageContainer .serviceWhite .rightSide .imgBox .serviceImg, .servicesPageContainer .serviceGrey .rightSide .imgBox .serviceImg {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 0.75rem #EFEFEF;
}
.servicesPageContainer .serviceWhite {
  background: #fbfcfe;
}
.servicesPageContainer .serviceGrey {
  background: #fbfcfe;
}
@media screen and (max-width: 500px) {
  .servicesPageContainer .serviceGrey {
    background: #EFEFEF;
  }
}

.servicesPageCall {
  padding: 80px 0px;
  background: #005cb9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-evenly;
  align-items: center;
}
.servicesPageCall .leftSide {
  margin-left: 5%;
}
.servicesPageCall .leftSide .containerTitle {
  font-size: 34px;
  margin-left: 10%;
  color: #fbfcfe;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .servicesPageCall .leftSide .containerTitle {
    margin-left: 5%;
    font-size: 28px;
  }
}
.servicesPageCall .leftSide .containerInfo {
  margin-left: 10%;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0px;
  width: 90%;
  max-width: 800px;
  line-height: 28px;
  color: #fbfcfe;
}
@media screen and (max-width: 700px) {
  .servicesPageCall .leftSide .containerInfo {
    margin-left: 5%;
  }
}
.servicesPageCall .rightSide {
  width: 300px;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicesPageCall .rightSide .homeCareersCta {
  padding: 12px 80px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #005cb9;
  background: #fbfcfe;
}

.serviceBlocks {
  padding: 80px 0px;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-evenly;
  align-items: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .serviceBlocks {
    justify-content: center;
  }
}
.serviceBlocks .block {
  width: 90%;
  max-width: 500px;
  height: 300px;
  margin: 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 5px 7px 5px #EFEFEF;
}
@media screen and (min-width: 1200px) {
  .serviceBlocks .block {
    flex-basis: 30%;
  }
}
.serviceBlocks .block .iconBlock {
  width: 125px;
}
.serviceBlocks .block .iconBlock .icon {
  width: 100%;
}
.serviceBlocks .block .infoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.serviceBlocks .block .infoBlock .serviceTitle {
  font-size: 26px;
  font-weight: 300;
  color: #fc0001;
  padding: 20px 0px;
}
.serviceBlocks .block .infoBlock .serviceText {
  display: none;
  color: #1F0812;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 300;
  width: 80%;
}
@media screen and (min-width: 1200px) {
  .serviceBlocks .block .infoBlock .serviceText {
    width: 90%;
  }
}
.serviceBlocks .block .infoBlock .serviceLink {
  color: #fc0001;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.serviceBlocks .block:hover .serviceText {
  display: block;
  transition: all 1s ease;
}
.serviceBlocks .block:hover .serviceTitle {
  transition: all 1s ease;
}
.serviceBlocks .block:hover .iconBlock {
  display: none;
  transition: all 1s ease;
}
.serviceBlocks .block:hover {
  border-radius: 5px;
}

.mobileLineRed {
  width: 90%;
  max-width: 400px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background: #E00000;
}
@media screen and (min-width: 700px) {
  .mobileLineRed {
    display: none;
  }
}

* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*# sourceMappingURL=main.css.map */
