$backGroundDark: #EFEFEF;
$backGroundLight: #fbfcfe;

$darkRed: #E00000;
$logoRed: #fc0001;
$redCompliment: #FF4747;
$dimGray: #686963;
$darkGray: #505050;
$wavyBlack: #1F0812;
$snow: #FBF5F3;
$babyBlue: #A9CEF4;
$superdarkBlue: #081726;
$darkBlue: #13375c;
$deepBlue: #005cb9;