@use 'variables' as *;
@use 'mixins' as *;

.aboutPageHeader{
    @include pageHeader(url('/static/main/img/assets/wheelchair.jpg'));
    .headerBlock{
        @include headerBlock($deepBlue);
        padding: 20px 0px;
        margin-top: 40px;
        margin-bottom: 80px;
        width: 80%;
        max-width: 450px;
        .pageTitle{
            @include containerTitle($backGroundLight);
        }
    }
}
.missionStatement{
    padding: 60px 0px;
    background: $deepBlue;
    .inlineImgText{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        align-items: center;
        .iconBox{
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            img{
                width: 100%;
            }
        }
        .statementTitle{
            @include containerTitle($backGroundLight);
            margin-left: 20px;
        }
    }
    .statementText{
        @include containerInfo($backGroundLight);
    }
}
.aboutMain{
    padding: 80px 0px;
    background: $backGroundLight;
    .blocksIntro{
        padding: 40px 0px;
        width: 85%;
        max-width: 600px;
        margin-left: 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .containerTitle{
            @include containerTitle($logoRed);

        }
        .containerInfo{
            @include containerInfo($wavyBlack);
            margin-left: 0;
        }
    }
    .aboutBlocks{
        padding: 40px 0px;
        @include flexBox1();
        .block{
            width: 90%;
            max-width: 1200px;
            margin: 30px 0px;
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            flex-wrap: wrap;
            box-shadow: 0 0 0.75rem $backGroundDark;
            .infoBlock{
                padding: 30px;
                width: 400px;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                background: white;
                box-sizing: border-box;
                @media screen and (max-width: 550px) {
                    width: 90%;
                    margin: 15px;
                    height: 400px;
                }
                .blockTitle{
                    font-weight: 400;
                    color: $logoRed;
                }
                .blockText{
                    color: $wavyBlack;
                    padding: 20px 0px;
                    font-size: 20px;
                    font-weight: 300;
                    @media screen and (min-width: 1200px){
                        width: 90%;
                    }
                }
            }
        }
        .block1{
            @include blockBackgroundImg(url('/static/main/img/assets/granddaughter.jpg'));
        }
        .block2{
            @include blockBackgroundImg(url('/static/main/img/assets/planFlexibility.jpg'));
        }
        .block3{
            @include blockBackgroundImg(url('/static/main/img/assets/leading.jpg'));
        }
        .block4{
            @include blockBackgroundImg(url('/static/main/img/assets/family.jpg'));
        }
    }
}