@use 'variables' as *;
@use 'mixins' as *;

.homeHeader {
    height: 100vh;
    max-height: 1000px;
    background-image: url('/static/main/img/assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .headerInfo{
        position: relative;
        width: 90%;
        max-width: 600px;
        @include centerObj();
        top: 15%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (min-width: 1000px) {
            top: 20%;
        }
        .headerTitle{
            font-weight: 300;
            padding-bottom: 5px;
            color: $deepBlue;
            text-align: center;
            @media screen and (min-width: 1000px) {
                font-size: 46px;
            }
        }
        .headerLink{
            padding: 10px 18px;
            width: 200px;
            margin-top: 50px;
            @include centerObj();
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 1px;
            border-radius: 5px;
            background: $deepBlue;
            color: $backGroundLight;
            text-decoration: none;
            text-align: center;
            @media screen and (min-width: 1000px){
                font-size: 24px;
            }
        }
    }
}
.secondHeaderArea{
    padding: 100px 0px;
    background: $deepBlue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .infoArea{
        .containerTitle{
            @include containerTitle($backGroundLight);
        }
        .containerInfo{
            @include containerInfo($backGroundLight);
        }
    }
    .backgroundArea{
        margin: 30px;
        border-radius: 20px;
        width: 350px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .ctaButton{
            @include ctaBox1($deepBlue, $backGroundLight);
        }
        .iconBox{
            width: 90%;
            max-width: 250px;
            margin: 0px 0px 30px 0px;
            img{
                width: 100%;
            }
        }
    }
}
.hospiceEligibilityArea{
    background: $backGroundLight;
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .infoArea{
        .containerTitle{
            @include containerTitle($logoRed);
        }
        .containerInfo{
            @include containerInfo($wavyBlack);
        }
        .containerList{
            @include containerList($wavyBlack);
        }
    }
    .backgroundArea{
        margin: 30px;
        border-radius: 20px;
        width: 350px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .iconBox{
            width: 90%;
            max-width: 250px;
            img{
                width: 100%;
            }
        }
    }
}
.homeServices{
    background: $backGroundLight;
    padding: 80px 0px;
    .servicesCtaBox{
        @include ctaOuterBox1();
        .ctaButton{
            @include ctaBox1($backGroundLight, $logoRed);
        }
    }
    .containerInfo{
        @include containerInfo($wavyBlack);
    }
    .headerArea{
        clear: both;
        .containerTitle{
            @include containerTitle($logoRed);
        }
        .containerInfo{
            @include containerInfo($wavyBlack);
        }
    }
}
.mainCareers{
    background: $backGroundLight;
    padding: 80px 0px;
    @include flexBox1();
    align-items: center;
    .leftSide{
        margin-left: 5%;
        .containerTitle{
            @include containerTitle($logoRed);
        }
        .containerInfo{
            @include containerInfo($wavyBlack);
        }
    }
    .rightSide{
        @include ctaOuterBox1();
        .homeCareersCta{
            @include ctaBox1($backGroundLight, $logoRed);
        }
    }
}
.containerLineBreak{
    height: 1px;
    width: 90%;
    max-width: 900px;
    margin: 30px 0px;
    @include centerObj();
    background: $logoRed;
}